* {
    padding: 0;
    margin: 0;
    border: 0
}

/* ===== Estilo Geral ===== */
body {
  font-family: Arial, sans-serif;
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* ===== Botão Flutuante ===== */
#button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  background-color: #d32f2f;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  word-break: break-word;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, background-color 0.2s;
}

#button:hover {
  background-color: #b71c1c;
  transform: scale(1.1);
}

/* ===== Container do Chat ===== */
main {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 400px;
  height: 550px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  display: none;
  flex-direction: column;
}

/* ===== Cabeçalho ===== */
header {
  background-color: #d32f2f;
  color: white;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* ===== Botão Fechar ===== */
#close {
  position: absolute;
  margin-top: 12px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 32px;
  cursor: pointer;
}

/* ===== Área do Chat ===== */
section {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

/* ===== Lista de mensagens ===== */
#chat {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
}

/* ===== Mensagens ===== */
.message {
  padding: 12px;
  border-radius: 8px;
  max-width: 85%;
  font-size: 16px;
}

.message.user {
  background-color: #d32f2f;
  align-self: flex-end;
  color: #fff;
}

.message.bot {
  background-color: #E1E3E1;
  align-self: flex-start;
}

/* ===== Área de Input ===== */
footer {
  display: flex;
  padding: 10px;
  gap: 10px;
  border-top: 1px solid #E1E3E1;
  background-color: #FFFFFF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* ===== Campo de texto ===== */
#prompt {
  flex: 1;
  resize: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #E1E3E1;
  background-color: #EDF2FA;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000;
  justify-content: center;
}

#prompt::placeholder {
    color: gray;
}

#prompt:focus {
  border: 2px solid #0B57D0;
  outline: none;
}

/* ===== Botão Enviar ===== */
#send {
  padding: 10px 15px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

#send:hover {
  background-color: #b71c1c;
}
